In [12]:
import re
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from datetime import datetime as dt
import os 
import json
import requests
import concurrent.futures
from tqdm import tqdm
from tvDatafeed import TvDatafeed, Interval
tv = TvDatafeed()

you are using nologin method, data you access may be limited

In [29]:
def convert_sector_wide(data, sector_name):
    rename_dict = {
        "Sektör Ortalamaları": "Metrics",
        "F/K": "fk",
        "PD/DD": "pd_dd",
        "FD/FAVÖK": "fd_favok"
    }
    
    data = data.rename(columns=rename_dict)

    
    new_columns = {
        "BIST 100": "bist100",
        "Aritmetik Ortalama": "ao",
        "Ağırlıklı Ortalama": "wo",
        "Medyan": "median"
    }

    
    wide_df = pd.DataFrame()
    wide_df['sector_name'] = [sector_name]

    for metric, prefix in new_columns.items():
        for column in ['fk', 'pd_dd', 'fd_favok']:
            col_name = f"{prefix}_{column}"
            if sector_name == 'bankacilik' and column == 'fd_favok':
                wide_df[col_name] = np.nan
            else:
                wide_df[col_name] = data[data['Metrics'] == metric][column].values

    return wide_df

# Function to convert 'Piyasa Değeri' to numerical value
def convert_piyasa_degeri(value):
    value = value.replace('₺', '').strip()
    if 'mr' in value:
        value = float(value.replace('mr', '')) * 1e3  # convert to billion
    elif 'mn' in value:
        value = float(value.replace('mn', ''))  # convert to million
    return value

def get_sector(sector_name):

    headers = {
        'authority': 'fintables.com',
        'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',
        'accept-language': 'en-US,en;q=0.9,tr;q=0.8,tr-TR;q=0.7',
        'cache-control': 'no-cache',
        'cookie': '_gid=GA1.2.50961081.1690710140; _gcl_au=1.1.518997462.1690710149; auth-token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoyMTIyNzEwMTk3LCJpYXQiOjE2OTA3MTAxOTcsImp0aSI6IjQ2NGI0YTIxYjY3ZjQ3ZDY4MmEwYjg5NWE3ZjlkMWE4IiwidXNlcl9pZCI6MTEyNzMzfQ.Bh3945i5RjYHblFOyoN_e9oqVmQcOUukFo8GqXp5wtg; _gat_UA-72451211-3=1; _ga=GA1.2.1134893438.1690710140; _ga_22JQCWWZZJ=GS1.1.1690710149.1.1.1690711335.20.0.0',
        'dnt': '1',
        'pragma': 'no-cache',
        'sec-ch-ua': '"Not.A/Brand";v="8", "Chromium";v="114", "Google Chrome";v="114"',
        'sec-ch-ua-mobile': '?0',
        'sec-ch-ua-platform': '"macOS"',
        'sec-fetch-dest': 'document',
        'sec-fetch-mode': 'navigate',
        'sec-fetch-site': 'same-origin',
        'sec-fetch-user': '?1',
        'upgrade-insecure-requests': '1',
        'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36'
    }

    response = requests.get(f'https://fintables.com/sektorler/{sector_name}', headers=headers)

    # The content of the response
    from bs4 import BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')

    sektor_ozet = soup.find_all('table', class_="min-w-full")[0]
    sektor_ozet2 = str(sektor_ozet).replace(".","").replace(',', '.')
    sektor_ozet_df = pd.read_html(str(sektor_ozet2))[0]
    sektor_ozet_wide = convert_sector_wide(sektor_ozet_df, sector_name)
    
    my_table = soup.find_all('table', class_="min-w-full")[1]
    my_table2 = str(my_table).replace(".","").replace(',', '.')
    df = pd.read_html(str(my_table2))[0]
    
    df['Piyasa Değeri'] = df['Piyasa Değeri'].apply(convert_piyasa_degeri)
    #df['Piyasa Değeri'] = df['Piyasa Değeri'].astype(int)
    df["sector"] = sector_name

    return sektor_ozet_wide, df

def get_sector_multiple(sector_names):
    ozet_list = []
    sirket_list = []

    with concurrent.futures.ThreadPoolExecutor(max_workers=10) as executor:
        for sektor_ozet,tum_sirketler in tqdm(executor.map(get_sector, sector_names), total=len(sector_names), desc="Fintables Şirketler"):
            try:
                sirket_list.append(tum_sirketler)
                ozet_list.append(sektor_ozet)
            except Exception as e:
                print("Error: ", e)
    sirket_df = pd.concat(sirket_list, axis=0, ignore_index=True)
    ozet_df = pd.concat(ozet_list, axis=0, ignore_index=True)

    sirket_df['Şirket Kodu'] = sirket_df['Şirket Kodu'].str[:-7]
    # sirket_df['Piyasa Değeri'] = sirket_df['Piyasa Değeri'].astype(float)

    sirket_df.columns = ['sirket_kodu', 'piyasa_degeri', 'fk', 'pd_dd', 'fd_favok', 'sector']
    return ozet_df, sirket_df

sector_names = json.load(open('sector_names.json',encoding="utf-8"))

print("Fintables Sektörler ve Şirketler Güncelleniyor")
ozet_df, sirket_df = get_sector_multiple(sector_names)

all_tickers = sirket_df['sirket_kodu'].unique()
all_tickers = list(all_tickers[:10])
all_tickers.append('XU100')
data_list = []

def fetch_data(ticker):
    data = tv.get_hist(symbol=ticker, exchange='BIST', interval=Interval.in_daily, n_bars=200)
    return data

# Use a ThreadPoolExecutor to fetch data in parallel
with concurrent.futures.ThreadPoolExecutor(max_workers=5) as executor:
    # Wrap the executor and the ticker list with tqdm for a progress bar
    data_list = list(tqdm(executor.map(fetch_data, all_tickers), total=len(all_tickers)))


data = pd.concat(data_list).reset_index()
data["symbol"] = data["symbol"].str[5:]

Fintables Sektörler ve Şirketler Güncelleniyor

Fintables Şirketler: 100%|██████████| 44/44 [00:03<00:00, 13.29it/s]
100%|██████████| 11/11 [00:06<00:00,  1.67it/s]

In [13]:
def p_no_sell(grouped):
    grouped.insert(2,"d_q_s", 0)
    grouped.insert(3,"d_q_c",grouped["d_q_b"] - grouped["d_q_s"])
    grouped.insert(5,"d_a_s",0)
    grouped["d_p_s"] = 0

    grouped = grouped.fillna(0)
    grouped["h_q"] = grouped["d_q_c"].cumsum()
    

    grouped["a_a_b"] = grouped["d_a_b"].cumsum() 
    grouped["a_a_s"] = grouped["d_a_s"].cumsum() 

    grouped["a_p_b"] = grouped["a_a_b"] / grouped["h_q"]

    grouped["a_p_b"] = grouped["a_p_b"].apply(lambda x: round(x,2))
    grouped["d_r_p"] = 0
    grouped["a_r_p"] = 0
    grouped.insert(9,"h_a",grouped["a_p_b"] * grouped["h_q"])
    grouped["h_a"] = grouped["h_a"].apply(lambda x: round(x,2))
    return grouped

def p_buy_and_sell(grouped):
    grouped = grouped.fillna(0)
    grouped.insert(3,"d_q_c",grouped["d_q_b"] - grouped["d_q_s"])
    grouped["h_q"] = grouped["d_q_c"].cumsum()
    

    grouped["a_a_b"] = grouped["d_a_b"].cumsum() 
    grouped["a_a_s"] = grouped["d_a_s"].cumsum() 

    grouped.loc[0,"a_p_b"] = grouped.loc[0,"a_a_b"] / grouped.loc[0,"h_q"]

    for i, val in grouped.iterrows():
        #Eğer tüm hisseler o gün satıldıysa, bir sonraki gündeki ortalama fiyat sadece yeni alınan hisselerin ortalaması olur.
        #Eğer tüm hisseler o gün satıldıysa, ve o gün alım olmadıysa, ortalama önceki güne eşit olur.
        if val["h_q"] == 0:
            if val["d_q_b"] == 0:
                grouped.loc[i,"a_p_b"] = grouped.loc[i-1,"a_p_b"]
            else:
                pass
        else:
            #Eğer alış olmadıysa, eldeki maliyet değişmez.
            if val["d_q_b"] == 0:
                grouped.loc[i,"a_p_b"] = grouped.loc[i-1,"a_p_b"]
            else:
                grouped.loc[i,"a_p_b"] = (grouped.loc[:i,"d_a_b"].sum() - grouped.loc[:i,"d_a_s"].sum()) / grouped.loc[i,"h_q"]
            # grouped.loc[i,"a_p_b"] = val["a_a_b"] / val["h_q"]
        if 0 in grouped.loc[:i,"h_q"].values:
            
            last_zero_index = grouped.loc[:i,"h_q"].tolist().index(0)
            if val["d_q_b"] != 0:
                grouped.loc[i,"a_p_b"] = sum_product = grouped.loc[last_zero_index:i, 
                                        "d_p_b"].mul(grouped.loc[last_zero_index:i, "d_q_b"]).sum() / grouped.loc[last_zero_index:i,"d_q_b"].sum()
        if val["d_q_s"] > 0:
            last_average_buy = grouped.loc[:i].query("d_p_b != 0")["d_p_b"].iloc[-1]
            grouped.loc[i,"d_r_p"] = (val["d_p_s"] - last_average_buy) * val["d_q_s"]
        else:
            grouped.loc[i,"d_r_p"] = 0
        grouped.loc[i,"a_r_p"] = grouped.loc[:i,"d_r_p"].sum()
    
    grouped["a_p_b"] = grouped["a_p_b"].apply(lambda x: round(x,2))
        
    grouped.insert(9,"h_a",grouped["a_p_b"] * grouped["h_q"])
    grouped["h_a"] = grouped["h_a"].apply(lambda x: round(x,2))
    return grouped

def port_func1(ticker,df):
    data = df.query("ticker == @ticker")
    data["date"] = data["date"].apply(lambda x: x.normalize())

    df1 = data.groupby(["date", "buy_sell"]).agg({
        "quantity": "sum",
        "trans_amount": "sum",
        "price": lambda x: (x * data.loc[x.index, "quantity"]).sum() / df.loc[x.index, "quantity"].sum()
    }).unstack()

    df1.columns = ["_".join(col).strip() for col in df1.columns.values]
    df1 = df1.rename(columns={
        "quantity_Alış": "d_q_b",
        "quantity_Satış": "d_q_s",
        "trans_amount_Alış": "d_a_b",
        "trans_amount_Satış": "d_a_s",
        "price_Alış": "d_p_b",
        "price_Satış": "d_p_s"
    }).reset_index()

    ####Situation stock never sold:
    if "d_q_s" not in df1.columns:
        df2 = p_no_sell(df1)
    else:
        df2 = p_buy_and_sell(df1)
    return ticker, df2

    ticker, df3 = port_func1(ticker,df)

def port_func2(ticker,df3):
        min_date = df3["date"].min()
        if df3.loc[len(df3)-1,"h_q"] != 0:
            max_date = dt.today()
        else:
            max_date = df3["date"].max()
        df4 = pd.DataFrame({'date': pd.date_range(start=min_date, end=max_date, freq='B').normalize()})
        df4 = df4.merge(df3, on='date', how='left')
        df4 = df4.fillna({
                'd_q_b': 0,
                'd_q_s': 0,
                'd_a_b': 0,
                'd_a_s': 0,
                'd_p_b': 0,
                'd_p_s': 0,
                'd_q_c': 0,
                "d_r_p": 0,
            })
        
        df4 = df4.merge(tvdata.query("ticker == @ticker")[["date","open","close"]], on=["date"],how="left")
        f_fill_col = ["h_q", "a_a_b","a_a_s", "a_p_b", "a_r_p","close","open"] 
        #min, max, vol_ö
        df4[f_fill_col] = df4[f_fill_col].ffill()
        
        df4 = df4.query("d_q_b + d_q_s + h_q > 0")
        # df4 = df4.fillna(0)
        df4["h_a"] = df4["h_q"] * df4["a_p_b"]
        df4['t_v'] = df4['h_q'] * df4['close']
        
        df4['a_ur_p'] = df4['t_v'] - df4['h_a']
        df4['a_ur_p'] = np.where(df4['h_q'] == 0, 0, df4['a_ur_p'])
        df4["d_ur_p"] = (df4["close"] - df4["open"]) * df4["h_q"]
        df4["d_p"] = df4["d_ur_p"] + df4["d_r_p"]
        df4["a_p"] = df4["a_ur_p"] + df4["a_r_p"]
        df4["d_%"] = (round(df4["close"] / df4["open"],3) - 1) * 100
        df4["a_%"] = (round(df4["close"] / df4["a_p_b"],3) - 1) * 100
        df4.reset_index(drop=True, inplace=True)
        df4["d_p_b"] = df4["d_p_b"].apply(lambda x: round(x,2))
        df4["open"] = df4["open"].apply(lambda x: round(x,2))
        df4.insert(1, 'ticker', ticker)
        return df4    
    
def portfoy(ticker):
    ticker, df3 = port_func1(ticker,df)
    df4 = port_func2(ticker,df3)
    return df4

In [19]:
df = pd.read_parquet("../data/midas_raw/midas_df.parquet")
cum_inv_df = pd.read_parquet("../data/midas_raw/midas_cum_inv_df.parquet")
tvdata = pd.read_parquet("../data/parquet/tvdata23.parquet")

In [20]:
port_all = pd.DataFrame()
for ticker in df.ticker.unique():
    try:
        port_temp = portfoy(ticker)
        port_all = pd.concat([port_all, port_temp], axis=0, ignore_index=True)
    except Exception as e:
        print(ticker, e)
port_all = port_all.query("ticker != 'ALTIN.S1'")
port_all.reset_index(drop=True, inplace=True)
# port_all.to_parquet("../streamlit/portfolyo/port_all.parquet")

In [21]:
# Define the conditions
condition_ofsym = ((port_all['ticker'] == 'OFSYM') & (port_all['date'] >= '2023-08-16')) | (port_all['ticker'] != 'OFSYM')
condition_adgyo = ((port_all['ticker'] == 'ADGYO') & (port_all['date'] >= '2023-09-21')) | (port_all['ticker'] != 'ADGYO')

# Combine the conditions and filter the DataFrame
port_all = port_all[condition_ofsym & condition_adgyo]
# port_all.to_parquet("port_all.parquet")

selected_col = ["date","ticker","h_q","a_p_b",'d_q_c',"open","close","d_%",'a_%', 'a_a_b', 't_v',"d_r_p", 'a_r_p',"d_ur_p", 'a_ur_p',"d_p","a_p"]
hisse_gunluk = port_all[selected_col]
hisse_gunluk.to_parquet("hisse_gunluk.parquet")

selected_col = ["date","ticker","h_q","a_p_b",'d_q_c',"open","close","d_%",'a_%', 'd_a_b',"d_a_s", 't_v',"d_r_p", 'a_r_p',"d_ur_p", 'a_ur_p']
gunluk_ozet_raw = port_all[selected_col]

# Group by business week
gunluk_ozet = gunluk_ozet_raw.groupby(pd.Grouper(key="date",freq='D')).agg({
    "d_a_b": 'sum',
    "d_a_s":'sum',
    "t_v": 'sum',
    "d_r_p": 'sum',
    "d_ur_p": 'sum',
    "a_r_p": 'sum',
    "a_ur_p": 'sum',
}).reset_index()
gunluk_ozet = gunluk_ozet[gunluk_ozet["date"].isin(tvdata["date"].unique())]
gunluk_ozet["d_a_c"] = - gunluk_ozet["d_a_b"] + gunluk_ozet["d_a_s"]
gunluk_ozet["d_a_c"] = gunluk_ozet["d_a_c"].round(2)
gunluk_ozet["t_v"] = gunluk_ozet["t_v"].round(2)
gunluk_ozet.insert(3,"t_v_y",gunluk_ozet["t_v"].shift(1))
gunluk_ozet.loc[0,"t_v_y"] = gunluk_ozet.loc[0,"d_a_b"]

gunluk_ozet["d_r_p"] = gunluk_ozet["d_r_p"].round(2)
gunluk_ozet["d_ur_p"] = gunluk_ozet["d_ur_p"].round(2)

gunluk_ozet = gunluk_ozet.merge(cum_inv_df, on="date", how="left")
gunluk_ozet.rename(columns={"cum_inv": "a_inv"}, inplace=True)
gunluk_ozet.insert(9,"d_inv",gunluk_ozet["a_inv"].diff())
gunluk_ozet.loc[0,"d_inv"] = gunluk_ozet.loc[0,"a_inv"]
gunluk_ozet["d_inv"] = gunluk_ozet["d_inv"].astype(int)

gunluk_ozet.loc[1:,"t_v_y"] = gunluk_ozet.loc[1:,"t_v_y"] + gunluk_ozet.loc[1:,"d_inv"]
gunluk_ozet.insert(4,"d_%",(round(gunluk_ozet["t_v"] / gunluk_ozet["t_v_y"],4) - 1) * 100)

gunluk_ozet["d_b"] = gunluk_ozet["d_inv"] + (gunluk_ozet["d_a_c"])
gunluk_ozet["a_b"] = gunluk_ozet["d_b"].cumsum()

gunluk_ozet["a_r_p"] = gunluk_ozet["a_r_p"].round(2)
gunluk_ozet["a_ur_p"] = gunluk_ozet["a_ur_p"].round(2)
gunluk_ozet["d_p"] = gunluk_ozet["d_r_p"] + gunluk_ozet["d_ur_p"]
gunluk_ozet["d_p_y"] = round(gunluk_ozet["d_p"] / gunluk_ozet["t_v"],4) * 100

# gunluk_ozet.to_parquet("gunluk_ozet.parquet")


selected_col = ["date","ticker","h_q","a_p_b",'d_q_c',"open","close","d_%",'a_%', 'd_a_b',"d_a_s", 't_v',"d_r_p", 'a_r_p',"d_ur_p", 'a_ur_p',"d_p","a_p"]
haftalık_data = port_all[selected_col]
def business_week(date):
    # If the date is a Monday, return the date itself.
    if date.weekday() == 0:  
        return date
    # Otherwise, return the date of the nearest past Monday.
    else:
        return date - pd.Timedelta(days=date.weekday())

# Group by business week
haftalık_ozet = haftalık_data.groupby([haftalık_data['date'].apply(business_week)]).agg({
    "d_a_b": 'sum',
    "d_a_s":'sum',
    "t_v": 'sum',
    "d_r_p": 'sum',
    "d_ur_p": 'sum',
    "a_r_p": 'sum',
    "a_ur_p": 'sum',
}).reset_index()

haftalık_ozet = haftalık_ozet[haftalık_ozet["date"].isin(tvdata["date"].unique())]
haftalık_ozet["d_a_c"] = - haftalık_ozet["d_a_b"] + haftalık_ozet["d_a_s"]
haftalık_ozet["d_a_c"] = haftalık_ozet["d_a_c"].round(2)
haftalık_ozet["t_v"] = haftalık_ozet["t_v"].round(2)
haftalık_ozet.insert(3,"t_v_y",haftalık_ozet["t_v"].shift(1))
haftalık_ozet.loc[0,"t_v_y"] = haftalık_ozet.loc[0,"d_a_b"]

haftalık_ozet["d_r_p"] = haftalık_ozet["d_r_p"].round(2)
haftalık_ozet["d_ur_p"] = haftalık_ozet["d_ur_p"].round(2)

haftalık_ozet = haftalık_ozet.merge(cum_inv_df, on="date", how="left")
haftalık_ozet.rename(columns={"cum_inv": "a_inv"}, inplace=True)
haftalık_ozet.insert(9,"d_inv",haftalık_ozet["a_inv"].diff())
haftalık_ozet.loc[0,"d_inv"] = haftalık_ozet.loc[0,"a_inv"]
haftalık_ozet["d_inv"] = haftalık_ozet["d_inv"].astype(int)

haftalık_ozet.loc[1:,"t_v_y"] = haftalık_ozet.loc[1:,"t_v_y"] + haftalık_ozet.loc[1:,"d_inv"]
haftalık_ozet.insert(4,"d_%",(round(haftalık_ozet["t_v"] / haftalık_ozet["t_v_y"],4) - 1) * 100)

haftalık_ozet["d_b"] = haftalık_ozet["d_inv"] + (haftalık_ozet["d_a_c"])
haftalık_ozet["a_b"] = haftalık_ozet["d_b"].cumsum()

haftalık_ozet["a_r_p"] = haftalık_ozet["a_r_p"].round(2)
haftalık_ozet["a_ur_p"] = haftalık_ozet["a_ur_p"].round(2)
haftalık_ozet["d_p"] = haftalık_ozet["d_r_p"] + haftalık_ozet["d_ur_p"]
haftalık_ozet["d_p_y"] = round(haftalık_ozet["d_p"] / haftalık_ozet["t_v"],4) * 100

# haftalık_ozet
# haftalık_ozet.to_parquet("haftalık_ozet.parquet")

In [43]:
from datetime import datetime, timedelta
now = datetime.now()
if now.weekday() >= 5:  # 5: Saturday, 6: Sunday
    days_to_subtract = now.weekday() - 4
    today = now.date() - timedelta(days=days_to_subtract)
    today_str = (now - timedelta(days=days_to_subtract)).strftime("%d-%m-%Y")
else:
    if now.hour < 18:
        today = now.date() - timedelta(days=1)
        today_str = (now - timedelta(days=1)).strftime("%d-%m-%Y")
    else:
        today = now.date()
        today_str = now.strftime("%d-%m-%Y")

'02-10-2023'

In [46]:
now.date() - timedelta(days=1)

datetime.date(2023, 10, 1)

In [47]:
toplam_buyukluk = port_all.query("date == @today").t_v.sum()
gunluk_net = gunluk_ozet.query("date == @today").d_p.values[0]
gunluk_yuzde = gunluk_ozet.query("date == @today").d_p_y.values[0]

In [54]:
son_hafta = gunluk_ozet[-7:]
son_hafta.reset_index(drop=True, inplace=True)
haftalik_net = (
    son_hafta.iloc[-1]["t_v"] - son_hafta.iloc[0]["t_v"] - son_hafta["d_inv"].sum()
)
haftalik_yuzde = round(
    (1 - (son_hafta.iloc[-7]["t_v"] / son_hafta.iloc[-1]["t_v"])) * 100, 2
)

son_ay = gunluk_ozet[-30:]
son_ay.reset_index(drop=True, inplace=True)
aylik_net = son_ay.iloc[-1]["t_v"] - son_ay.iloc[0]["t_v"] - son_ay["d_inv"].sum()
aylik_yuzde = round(
    (1 - (son_ay.iloc[0]["t_v"] / (son_ay.iloc[-1]["t_v"] - son_ay["d_inv"].sum())))
    * 100,
    2,
)

son_gun = hisse_gunluk.query("date == @today").sort_values(
    by="t_v", ascending=True
)
son_gun.dropna(how="any", inplace=True)
data_list = [
    {"name": ticker, "value": round(value, 1)}
    for ticker, value in son_gun[["ticker", "t_v"]].values
]

[{'name': 'KLSER', 'value': 2660.0},
 {'name': 'ADGYO', 'value': 3114.7},
 {'name': 'ORGE', 'value': 3286.0},
 {'name': 'TAVHL', 'value': 5842.0},
 {'name': 'ISYAT', 'value': 6063.9},
 {'name': 'MGROS', 'value': 7239.0},
 {'name': 'REEDR', 'value': 9905.2},
 {'name': 'TURSG', 'value': 10752.0},
 {'name': 'ANSGR', 'value': 11804.1},
 {'name': 'INFO', 'value': 13454.1},
 {'name': 'KAREL', 'value': 15403.4},
 {'name': 'ISCTR', 'value': 15564.0}]

In [53]:
hisse_gunluk

,date,ticker,h_q,a_p_b,d_q_c,open,close,d_%,a_%,a_a_b,t_v,d_r_p,a_r_p,d_ur_p,a_ur_p,d_p,a_p
0,2023-07-03,KAREL,270.0,18.28,270.0,18.05,18.330000,1.6,0.3,4935.04,4949.100000,0.0,0.0,75.600270,13.500000,75.600270,13.500000
1,2023-07-04,KAREL,270.0,18.28,0.0,18.35,19.430000,5.9,6.3,4935.04,5246.100000,0.0,0.0,291.600000,310.500000,291.600000,310.500000
2,2023-07-05,KAREL,270.0,18.28,0.0,19.50,21.360001,9.5,16.8,4935.04,5767.200270,0.0,0.0,502.200270,831.600270,502.200270,831.600270
3,2023-07-06,KAREL,270.0,18.28,0.0,21.36,21.840000,2.2,19.5,4935.04,5896.800000,0.0,0.0,129.599730,961.200000,129.599730,961.200000
4,2023-07-07,KAREL,270.0,18.28,0.0,21.84,21.160000,-3.1,15.8,4935.04,5713.200000,0.0,0.0,-183.600000,777.600000,-183.600000,777.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,2023-09-28,ORGE,53.0,59.95,53.0,60.25,63.549999,5.5,6.0,3177.35,3368.149947,0.0,0.0,174.899947,190.799947,174.899947,190.799947
669,2023-09-29,ORGE,53.0,59.95,0.0,67.00,63.950001,-4.6,6.7,3177.35,3389.350053,0.0,0.0,-161.649947,212.000053,-161.649947,212.000053
670,2023-10-02,ORGE,53.0,59.95,0.0,64.25,62.000000,-3.5,3.4,3177.35,3286.000000,0.0,0.0,-119.250000,108.650000,-119.250000,108.650000
671,2023-09-29,REEDR,498.0,17.74,498.0,16.50,18.090000,9.6,2.0,8836.20,9008.820000,0.0,0.0,791.820000,174.300000,791.820000,174.300000
672,2023-10-02,REEDR,498.0,17.74,0.0,18.70,19.890000,6.4,12.1,8836.20,9905.220000,0.0,0.0,592.620000,1070.700000,592.620000,1070.700000